<style>

  body {
    background-color: darkgray;
  }

  table {
    border-collapse: collapse;
    font-family: arial, sans-serif;
    font-size: 24px;
  }

  td,
  th {
    border: 1px solid black;
    text-align: center;
    padding: 15px 20px;
  }

  .position {
    color: black;
  }

  .white {
    color: black;
    background-color: white;
  }

  .black {
    color: white;
    background-color: black;
  }

</style>

<table>
  <tr>
    <th class="position">h</th>
    <th class="position">g</th>
    <th class="position">f</th>
    <th class="position">e</th>
    <th class="position">d</th>
    <th class="position">c</th>
    <th class="position">b</th>
    <th class="position">a</th>
    <th class="position"></th>
  </tr>
  <tr>
    <td class="white">♖</td>
    <td class="black">♞</td>
    <td class="white">♗</td>
    <td class="black">♚</td>
    <td class="white">♕</td>
    <td class="black">♝</td>
    <td class="white">♘</td>
    <td class="black">♜</td>
    <th class="position">1</th>
  </tr>
  <tr>
    <td class="black">♟</td>
    <td class="white">♙</td>
    <td class="black">♟</td>
    <td class="white">♙</td>
    <td class="black">♟</td>
    <td class="white">♙</td>
    <td class="black">♟</td>
    <td class="white">♙</td>
    <th class="position">2</th>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <th class="position">3</th>
  </tr>
  <tr>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <th class="position">4</th>
  </tr>
  <tr>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <th class="position">5</th>
  </tr>
  <tr>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <td class="black"></td>
    <td class="white"></td>
    <th class="position">6</th>
  </tr>
  <tr>
    <td class="white">♟</td>
    <td class="black">♙</td>
    <td class="white">♟</td>
    <td class="black">♙</td>
    <td class="white">♟</td>
    <td class="black">♙</td>
    <td class="white">♟</td>
    <td class="black">♙</td>
    <th class="position">7</th>
  </tr>
  <tr>
    <td class="black">♖</td>
    <td class="white">♞</td>
    <td class="black">♗</td>
    <td class="white">♚</td>
    <td class="black">♕</td>
    <td class="white">♝</td>
    <td class="black">♘</td>
    <td class="white">♜</td>   
    <th class="position">8</th>
  </tr>
</table>